.btn {
  text-decoration: none;
  color: #FFF;
  background-color: $mainOrange;
  padding: 0.5rem 1.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  display: inline-block;
  
  &--large {
    padding: 0.7rem 1.8rem;
    font-size: 0.9rem;
    font-weight: 500;
    
    @mixin atSmall {
      font-size: 1.1rem;
      padding: 0.8rem 2rem;
    }
  }
  
  &--blue {
    background-color: $mainBlue;
  }
}