.headline {
  color: $mainBlue;
  font-weight: 300;
  font-size: 1.85rem;
  letter-spacing: 0.8;
  
  @mixin atMedium {
    font-size: 2.85rem;
  }
  
  &--centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  &--orange {
    color: $mainOrange;
  }
  
  &--narrow {
    max-width: 30rem;
  }
  
  &--small {
    font-size: 1.2rem;
    
    @mixin atMedium {
      font-size: 1.875rem;
    }
  }
  
  &--light {
    font-weight: 200;
  }
  
  &--b-margin-small {
    margin-bottom: 0.5em;
  }
  
  &--b-margin-large {
    margin-bottom: 1.6em;
  }
  
  strong {
    font-weight: 500;
  }
  
  &--bold {
    font-weight: 400;
  }
  
  &--t-margin-none {
    @mixin atMedium {
      margin-top: 0;
    }
  }
  
  &--centered-until-medium {
    text-align: center;
    
    @mixin atMedium {
      text-align: left;
    }
  }
  
  &--white {
    color: #FFF;
  }
  
  &--large {
    font-size: 3.5rem;
  }
  
  &__icon {
    display: block;
    margin: 0 auto 1rem;
    
    @mixin atMedium {
      display: inline-block;
      padding-right: 0.8rem;
      margin: 0;
    }
    
  }
}