.headline {
  color: $mainBlue;
  font-weight: 300;
  font-size: 2.75rem;
  
  &--centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  &--orange {
    color: $mainOrange;
  }
  
  &--narrow {
    max-width: 30rem;
  }
  
  &--small {
    font-size: 1.875rem;
  }
  
  &--light {
    font-weight: 200;
  }
  
  &--b-margin-small {
    margin-bottom: 0;
  }
}