.large-hero {
  position: relative;
  
  &__text-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    padding-top: 5.5rem;
    
    @mixin atMedium {
      padding-top: 3rem;
    }
  }
  
  &__title {
    color: $mainBlue;
    font-size: 2.4rem;
    font-weight: 300;
    margin: 0;
    
    @mixin atSmall {
      font-size: 4.5rem;
    }
  }
  
  &__subtitle {
    color: $mainBlue;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;
    
    @mixin atSmall {
      font-size: 2.8rem;
    }
  }
  
  &__description {
    color: #FFF;
    font-weight: 300;
    text-shadow: 1px 1px 2px #333;
    max-width: 23.75rem;
    margin: 2rem auto;
    font-size: 0.9rem;
    
    @mixin atSmall {
      font-size: 1.5rem;
    }
  }
  
  &__image {
    border-bottom: 9px solid $mainBlue;
    
  }
}