.page-section {
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
  margin-left: auto;
  margin-right: auto;
  
  &--blue {
    background-color: $mainBlue;
  }
  
  &--testimonials {
    background: #d3e7ed;
    
    @mixin atMedium {
      &.lazyloaded{
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;
      }
    }
  }
  
  &--no-b-padding-until-medium {
    padding-bottom: 0;
    
    @mixin atMedium {
      padding-bottom: 3.2rem;
    }
  }
}