.primary-nav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  
  @mixin atMedium {
    padding-top: 0;
  }
  
  &--float-right {
    
    @mixin atMedium{
      float: right;
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    
    @mixin clearfix
  }
  
  li {
    display: inline-block;
    list-style: none;
    padding-right: .5rem;
    
    @mixin atMedium {
      display: block;
      float: left;
      padding-right: 2rem;
    }
    
    &:last-of-type {
      padding-right: 0;
      
      @mixin atMedium {
        padding-right: 2rem;
      }
    }
  }  
  
  a {
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    display: block;
    
    @mixin atMedium {
      padding-top: 1.125rem;
      font-weight: 300;
      
      &.is-highlighted {
        color: $highlight;
      }
    }
  }
}