.row {
  
  margin-top: 1.2rem;
  
  @mixin atMedium {
    margin-top: 4rem;
  }  
  
  @mixin clearfix;
  
  &--gutters {
    margin-right: -4rem;
  }
  
  &--gutters > div {
    padding-right: 4rem;
  }
  
  &--gutters-large {
    margin-right: -8rem;
  }
  
  &--gutters-large > div {
    padding-right: 8rem;
  }
  
  &--gutters-small {
    margin-right: -2rem;
  }
  
  &--gutters-small > div {
    padding-right: 2rem;
  }
  
  &--extra-l-padding {
    @mixin atSmall {
      padding-left: 3.5rem;
    }
  }
  
  &__column-4-medium {
    
    @mixin atMedium {      
      float: left;
      width: 33.33%;
    }
  }
  
  &__column-8-medium {
    
    @mixin atMedium {
      float: left;
      width: 66.66%
    }
  }
  
  &__column-4-medium--wider {
    
    @mixin atMedium{
      width: 37%;
    }
  }
  
  &__column-8-medium--narrower {
    
    @mixin atMedium {
      width: 63%;
    }
  }
  
  &__column-6-medium {
    @mixin atMedium {
      float: left;
      width: 50%;
    }
  }
  
  .flexbox &--equal-height {
    @mixin atMedium {
      display: flex;
    }
    
    & > div {
      
      @mixin atMedium {
        display: flex;
        float: none;
      }
    }
  }
}