.wrapper {
  max-width: 77rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  
  @mixin atSmall {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  
  @mixin atLarge {
    padding-right: 0;
    padding-left: 0;
  }
  
  &--narrow {
    
    @mixin atMedium {
      max-width: 61.25rem;
    }
  }
  
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}